body {
    background-color: var(--clr-background);
    font-family: 'Montserrat', sans-serif;
    color: var(--clr-font);
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.blocky {
    list-style-type: square;
}

.none {
    list-style-type: none
}

.mid {
    text-align: center;
}

.placeholder {
    margin-top: 10px;
    padding: 0px 0px 10% 86%;
    border: 2px solid var(--clr-border);
    background-color: var(--clr-sidecolor);
}

#sidebar {
    grid-row: 1/4;
    margin-right: 10px;
    background-color: var(--clr-sidecolor);
}

.flexmid {
    display: flex;
    justify-content: center;
}

.btflex {
    padding-bottom: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

.padding {
    padding: 5px;
}

.bbflex {
    padding-bottom: 10px;
    display: flex;
    justify-content: right;
}

.none {
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: right;
}

.newnbutton, .savebutton {
    background-color: var(--clr-newnbutton);
    border: 0px;
    color: var(--clr-white);
}

.themebutton {
    background-color: var(--clr-themebutton);
    border: 0px;
    color: var(--clr-white);
}

.cancelbutton {
    background-color: var(--clr-cancelbutton);
    border: 0px;
    color: var(--clr-white);
}

:root {
    --clr-background: #F2E9DD;
    --clr-sidecolor: #F9F3EC;
    --clr-font: #375353;
    --clr-newnbutton: #5394A0;
    --clr-white: white;
    --clr-border: #77A7EB;
    --clr-cancelbutton: #D9827C;
    --clr-themebutton: #6F6A87;

}

.darktheme {
    --clr-background: #252526;
    --clr-sidecolor: #3e3e42;
    --clr-border: #007acc;
    --clr-font: #9ED8FF;
    --clr-white: white;
    --clr-newnbutton: #263F45;
    --clr-cancelbutton: #7B2924;
    --clr-themebutton: #534C61;
}

.hidden {
    visibility: hidden;
}

@media only screen and (max-width:600px) {
    .take {
        text-align: center;
        margin-top: 0px;
        font-size: 2.5vh;
    }

    .notes {
        text-align: center;
        font-size: 1.8vh;
        margin-top: 0px;
    }

    li {
        font-size: 1.5vh;
    }

    .newnbutton, .savebutton {
        line-height: 2vh;
        padding: 1vh 1.5vh;
        border-radius: 1vh;
    }

    .themebutton {
        line-height: 2vh;
        padding: 1vh 1.5vh;
        border-radius: 1vh;
    }

    .cancelbutton {
        line-height: 2vh;
        padding: 1vh 1.5vh;
        border-radius: 1vh;
    }

    .place {
        font-size: 2vh;
    }
}

@media only screen and (min-width:600px) {

    h1 {
        text-align: center;
        margin-top: 0px
    }

    .newnbutton, .savebutton {
        line-height: 2.5;
        padding: 5px 20px;
        border-radius: 10px;
    }

    .themebutton {
        line-height: 2.5;
        padding: 5px 20px;
        border-radius: 10px;
    }

    .cancelbutton {
        line-height: 2.5;
        padding: 5px 20px;
        border-radius: 10px;
    }

}