body {
    background-color: #F2E9DD;
    font-family: 'Montserrat', sans-serif;
    color: #375353;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.blocky {
    list-style-type: square;
}

.none {
    list-style-type: none
}

.mid {
    text-align: center;
}

.placeholder {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 0px 80px 10px;
    border: 2px solid #77A7EB;
    background-color: #F9F3EC;
}

#sidebar {
    grid-row: 1/4;
    margin-right: 10px;
    background-color: #F9F3EC;
}

.flexmid {
    display: flex;
    justify-content: center;
}

.btflex {
    padding-bottom: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

.padding {
    padding: 5px;
}

.bbflex {
    padding-bottom: 10px;
    display: flex;
    justify-content: right;
}

.none {
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: right;
}


@media only screen and (max-width:600px) {
    .take {
        text-align: center;
        margin-top: 0px;
        font-size: 2.5vh;
    }

    .notes {
        text-align: center;
        font-size: 1.8vh;
        margin-top: 0px;
    }
    li {
        font-size: 1.5vh;
    }
    .darkbutton {
        background-color: #5394A0;
        border: 0px;
        line-height: 2vh;
        padding: 1vh 1.5vh;
        border-radius: 1vh;
        color: white;
    }
    .purplebutton {
        background-color: #6F6A87;
        border: 0px;
        line-height: 2vh;
        padding: 1vh 1.5vh;
        border-radius: 1vh;
        color: white;
    }
    .redbutton {
        background-color: #D9827C;
        border: 0px;
        line-height: 2vh;
        padding: 1vh 1.5vh;
        border-radius: 1vh;
        color: white;
    }
    
}

@media only screen and (min-width:600px) {

    h1{
        text-align: center;
        margin-top: 0px
    }

    .darkbutton {
        background-color: #5394A0;
        border: 0px;
        line-height: 2.5;
        padding: 5px 20px;
        border-radius: 10px;
        color: white;
    }

    .purplebutton {
        background-color: #6F6A87;
        border: 0px;
        line-height: 2.5;
        padding: 5px 20px;
        border-radius: 10px;
        color: white;
    }
    .redbutton {
        background-color: #D9827C;
        border: 0px;
        line-height: 2.5;
        padding: 5px 20px;
        border-radius: 10px;
        color: white;
    }
    
    
}